*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#navBarCrearPreg{
    background-color: #ffd0ae;
}

body{
    background-color: #fff1be;
}

#inputIngresarTitulo{
    background-color: #fff6e9;
}

#btnConfig{
    background-color: #ef7131;
}
#btnTemas{
    background-color: #4f9d86;
}
#btnGuardar{
    background-color: #a3d6c7;
}
#btnSalir{
    background-color: #d8eced;
}
#panelIzq{
    background-color: #ffded3;
}
#btnOpcion{
    background-color: #ef7131;
}
#panelDer{
    background-color: #ffded3;
}
#btnAñadirPregunta{
    background-color: #a3d6c7;
}
#btnAñadirDiapositiva{
    background-color: #d8eced;
}