body {

    justify-content: center; 
    align-items: center;     
    background-color:#fdecd7;
}
h1{
  text-align: center;
  color: #964f4f;
}
.contenedor {
    text-align: center; 
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: white;
}
#icono{
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.card{
  background-color: #fff6e9;
  padding: 2rem;
}

/*BOTON VALIDAR*/
.btn.miboton{
    background-color: #4f9d86;
    width: 100%;
    color:#fdf8f8;
    font-weight: bold;     
    font-size:larger;
}
.btn.miboton:hover {
   background-color: #3a7060; 
   border-color: #3a7060;
}

/*boton cancelar*/
.btn.botonCancelar{

    background-color: #964f4f;
    width: 100%;
    color:#ffefef;
    font-weight: bold;     
    font-size:larger;
}

#validar{
  background-color: #4f9d86;
  text-align: center;
}

/* estilos navbar */
.navbar-cuestionarios {
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
    border-left: 2px solid #000000;
    border-bottom: 5px solid #000000;
}
.navbar_usuario {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #000000;
}
.navbar-dropdown-btn {
    background-color: transparent;
    border: none;
}
.navbar-dropdown-btn:hover .navbar_usuario{
    border: 3px solid #80c4e9;
}